PHP Libraries dependencies
==========================

- svn
  http://www.php.net/manual/en/book.svn.php
  For debian: php5-svn

- html2pdf 4.03
  http://html2pdf.fr/



JS dependencies
===============

- tinymce 4.0.11
  http://www.tinymce.com

- Twitter Bootstrap 3.0.3
  http://getbootstrap.com/



Other Tools
===========

- WebSVN >= 2.3.3
  http://www.websvn.info/
